body{
    background-color: cyan;
}

#divform{
    margin-top: 67px;
    margin-left: 400px;
    border-radius: 3px 3px 1px solid;
    
}
.formclass{
    display: block;    
    width: 217px;
    padding: 77px;
    background-size: cover;
    border: double;
    height: 225px;
    border-radius: 48px;
}

#btn:hover{
    font-weight: bold;
    color: blue;
    

}