body{
    
}
#main-section{
    display: flex;
    border: 2px solid #000;
    margin: auto;
    width: 85%;
    height: 540px;
    background-color: yellow;
}

hr{
    width: 100;
}
.other-info{
    width: 40%;
    margin-left: 63px;
    padding: 30px;
    border: 1px;
    margin-top: -16px;

}
h2{
    border-bottom: 1px;
    font-size: 20px;
}
form{
    margin-bottom: 13px;
    margin-left: 5px;
}
button{
    margin-top: -1px;
}
.side-form{
    height: 100px;

}
h1{
    margin-left: 6px;
}
p{
    margin-left: 9px;
    margin-bottom: 28px;

}