.container {
    border:  5px solid #ffcc5c;
    display: flex;
    justify-content: center; 
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../images/1479145447097.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    
}
.search {
    flex: 1;
}