ul a li{
    list-style: none;
    
}
ul a {
    text-decoration: none;
    color: black;
    margin: left;
}
.row{
    display: flex;
}
.gret{
    max-width: 135px;
    max-height: 40px;
    background-color: brown;
    padding: left;
    display: flex;
    margin: left;
}
.konga{
    font-size: 20px;
    font-style: initial;
    padding: auto;
    margin-left: left;
    
}
ul{
    line-height: 16px;
    margin: -14px;
    padding: right;
}
#logo{
    height: 30px;
    width: auto;
}