
body{
    background-color: grey;
    border: 3px solid #000000;
    margin: 20px; 
    
}
body,div,section,article,sidebar,nav,footer{
    display: block;
}
header img{
    border-radius: 100%;
    width: 35px;
}
header div{
    display: flex;
    margin-bottom: 27px;
}
#searchinput{
    float: left;
    margin-left: 975px;
    border-radius: 80px;
    padding: px;
    border: 1px solid #000000; 
}
h1{
    text-align: center;
    text-decoration: none;
    font-size: 47px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: -22px;
    font-weight: bold;
    background-color: white;

}
header nav{
    background-color: #000000;
    padding: 5px;
}
p{
    line-height: 30px;
    font-style: italic;
    font-size: 20px;

}
header ul li{
    display: inline;
}
header ul li a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
header ul li a:hover{
    color: yellow;
    font-size: 18px;

}
header ul li a:active{
    color: rgb(14, 61, 37);;
    font-size: 18px;

}
header ul li a:visited{
    color: red;
}
#main-section{
    display: flex;
    margin-top: 5px;
}
sidebar{
    border: 2px;
    background-color: yellow;
}h2{
    background-color: white;
    padding: 12px;
}
#menu{
    height: 50px;
    margin-bottom: 5px;
    padding: 30px;
    line-height: 40px;
    text-decoration: none;
}


.span:before{
    content: '(';

}
.span:after{
    content: ')';
}
article{
    border: 2px solid red;
    overflow: 80vh;
    width: 5000%;
    margin-left: 18px;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-color: white;
    padding: 5px;

}
#article-heading{
    margin-right: 23px;    
    font-size: 40px;
    text-shadow: 3px 3px 2px #000;
    background-color: rebeccapurple;
    text-decoration: underline;
}
#image{
    background: url("../images_007.jpeg") center
    center no-repeat;
    background-size: cover;
    height: 300px;
}
    .more{
        color: blue;
        text-decoration: underline;
}
    .more:hover{
        cursor: pointer;

}
footer{
    background: #000;
    height: 200px;
    text-align: center;
    color: #fff;
    padding-top: 9px;
    opacity: 0.8;
}  

.about h4{
    text-align: justify;
    padding: 2px;
    color: yellow;
    border-radius: 50px;
}
h3{
    background-color: #fff;
}
#about{
    display: flex;
    margin-top: 5px;

}
h4{
    color: black;
}
#about h4{
    color: #000;
    margin-bottom: 20px;
}
.about :hover{
    background-color: skyblue;
}