/*CSS Synyax*/
div,section,body{
    display: block;
}
#main{
    width: 80%;
    box-shadow: 3px 30x 1px #777777;
    border: 2px solid black;
    height: 400px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
}
#sidebar{
    background-image: url(../images/images_064.jpeg);
    height: 100%;
    width: 25%; 
    background-size: cover;

    
}
button{
   /* float: right;*/
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
   /* position: relative;*/
    margin-left: 525px;
   /* left:800px;*/
}
#image{
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    margin-top: 50px;
}
.images{
    width: 31px;
    margin-left: 70px;
    position: relative;
    top: -40px;
}
.plus{
    position: relative;
    left: 2px;
    width: 31px;
    top:-40px;
}
#user{
    width: 108px;
    height: 100px;
    border-radius: 100%;
    margin: 20px;
}
#content{
    text-align: center;
}
#name{
    padding: 10px;
    background: #333;
    border-radius: 40px;
    width: 125px;
    margin-left: 200px;
    color: #fff
    
}
#sub-main{
    width: 102%;
    margin-left: -50px;
}
#message{
    text-align: center;
    width: 46%;
    margin-left: 176px;
}
/*sidebar styling*/
#square{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    margin-left: 70px;
    margin-top: 24px;
}
#circle{
    border-radius: 100%;
    background: #fff;
    width: 15px;
    height: 15px;
    margin-left: 12px;
    margin-top: -8px;
}
.recorder{
    color: #fff;
}
.recorder span{
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 3px;
    margin-left: 79px;
    width: 50px;
    height: 50px;
}
#my-options{
    margin-top: 30px;
}
.recorder p{
    text-align: center;
    font-size: 12px;
    margin-left: -16px;
    padding: 10px;
}


/* 
.recorder > span {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #777777;
} */







.discover {
    background-color: #131111;
    color: #fcfcfc;
    border-bottom: none;
    padding: 18px;
    border-radius: 20px;
    position: relative;
    right: 260px;
    bottom: -29px;
}













