*/ {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: brown;
    
}

h1 {
    font-family: Verdana;
    color: blue;
    font-size:80px;
    text-align:center;

}

h2 {
    font-family: Courier;
    color: black;
    font-size:60px;
    text-align:left;  
    border: 1px solid black; 
    padding: 5px;   
    margin: 1px; 
   
}

p {
    font-size:100%;
    font-family:Verdana;
    border: 1px solid black; 
    padding: 5px;  
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
