body{
    background-size: cover;
   height: 300px;
   
}
 

h1{
    text-align: center;
    text-decoration: none;
    font-size: 47px;
    font-style: italic;
    font-weight: bold;
    top: 100%;
}
#vote h1{
    margin-bottom: 50px;
}
.myslide{
    width: 100%;
    height: 520px;
    margin-top: 50px;
 }
 nav{
    background-color: black;
    width: 101%;
    height: 60px;
    margin-top: -15px;
 }nav ul{
    display: flex;
    color: white;
    height: 30%;
    text-decoration: none;}
 nav ul li{
    padding-right: 14%;
    list-style: none;
    text-align: center;
    margin-top: 20px;
 }
 li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
 }
 .button{
    width: 100%;
    height: 10%;
    margin-bottom: 4%;
    margin-right:20%;
    padding: 20px;
 }
 .button button{
    width: 31%;
    height: 62px;
    background-color: beige;
    box-shadow: 3px 3px 1px;
    margin-left: 355px;
    padding: 17px
 }
 button a{
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 3px 3px 1px;
 }.carousel-caption d-none d-md-block h2{
    color: black;
    font-weight: bolder;
 }.logo{
    width: 100%;
    height: 50px;
    margin-left: 3%;
    margin-top: 2%;
 }
 .logo img{
    margin-top: -10px;
    margin-left: -5px;
 }form{
    width: 100%;
    margin-left: 900px;
    display: flex;
    margin-top: -5%;
    padding: 2px;
 }form img{
    padding-right: 5px;
 }
 